body {
    margin: 0;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-1 {
    height: 100vh;
    width: 320px;
    background-color: #ef476f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-2 {
    height: 100vh;
    width: 320px;
    background-color: #ffd166;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splide__arrow {
    visibility: hidden;
}


@import url('https://fonts.googleapis.com/css?family=Orbitron');


#clock {
  font-family: 'Orbitron', sans-serif;
  color: #118ab2;
  font-size: 56px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#input-area {
    margin: 0 auto;
    margin-top: 2rem;
    width: 250px;
    align-items: center;
    margin-bottom: 30px;
}

textarea {
    resize: none;
    font-size: 16px;
    margin-bottom: 10px;
}

.slide-1 {
    display: block;
    text-align: center;
    overflow: auto;
}


#send {
    font-size: 18px;
    width: 100px;
    height: 30px;
    border-radius: 2px;
    border: none;
    background-color: #ffd166;
    font-family: 'Orbitron', sans-serif;
}

#clear {
    font-size: 18px;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    border-radius: 2px;
    border: none;
    background-color: #ffd166;
    font-family: 'Orbitron', sans-serif;
}

#send:hover, #clear:hover {
    cursor: pointer;
}

#send:active, #clear:active {
    opacity: .7;
}

p {
    max-width: 300px;
    margin: 0 auto;
    word-wrap : break-word;
    margin-bottom: 20px;
    font-family: 'Orbitron', sans-serif;
}

#input {
    margin-left: auto;
    margin-right: auto;
    width: 210px;
    height: 50px;
}

.text {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
